<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/createdata" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="">
    <br>
    <br>
    <label for="age">Age</label>
    <input type="number" name="age" id="">
    <br>
    <br>
    <label for="course">Email</label>
    <input type="text" name="email" id="">
    <br>
    <br>
    <label for="gpa">gap</label>
    <input type="Number" name="gpa" id="">
    <br>
    <br>
    <input type="submit" name="" id="">
  </form>
</body>
</html>