<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <form action="/create" method="post">
    <input type="text" name="task" id="">
    <input type="submit" id="submit">
  </form>

  <% if (tasks) { %>
    <% tasks.forEach(function(x) { %>
        <p><%= x.task %></p>
    <% }) %>
  <% } %>
  
</body>
</html>