<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/form.css">
</head>
<body>
  <h1>Add New Device</h1>
  <p class="subtitle">Enter the specifications below to add a new item to the inventory.</p>
  
  <form action="/create" method="post">
    <label for="brand">Brand Name</label>
    <input type="text" name="brand" id="">
    <br>
    <br>
    <label for="model">Model</label>
    <input type="text" name="model" id="">
    <br>
    <br>
    <label for="ram">RAM</label>
    <input type="number" name="ram" id="">
    <br>
    <br>
    <label for="storage">Storage</label>
    <input type="number" name="storage" id="">
    <br>
    <br>
    <label for="price">Price</label>
    <input type="number" name="price" id="">
    <br>
    <br>
    <input type="submit" name="submit" id="">
  </form>
</body>
</html>